---
import '../styles/boot-intro.css';
---

<div id="boot-intro">
  <pre id="boot-console"></pre>
  <div id="packet-pulse"></div>
  <button id="skip-intro" type="button">skip</button>
</div>

<script>
  import '../scripts/boot-intro.js';
</script>
