---
import '../styles/boot-intro.css';
---

<div id="boot-intro">
  <div id="boot-panel">
    <pre id="boot-console"></pre>
    <div id="packet-pulse"></div>
  </div>
  <div id="binary-curtain" aria-hidden="true"></div>
</div>

<script>
  import '../scripts/boot-intro.js';
</script>
